<div class="container-fluid">
    <div class="row">
        <div class="col-12"><img src="../../../assets/Banner.png" alt="">
        </div>

    </div>
    <div class="row">
        <div class="col-12">
            <menu>
                <ul>
                    <li> <a href="\homeAdmin"> Inicio</a></li>
                    <li> <a routerLink="/adminUsuarios"> Usuarios</a></li>
                    <li> <a routerLink="/adminCitas"> citas</a></li>
                    <li> <a routerLink="/adminMascotas"> mascotas</a></li>
                    <li> <a href="#" (click)="logout()"> Cerrar sesion</a></li>
    

                </ul>
            </menu>
        </div>

        <div class="col-1"></div>


    </div>
</div>