<div class="container-fluid">


        <div class="row">
            <div class="col-4"> <br>
                <img src="../../../assets/facebook.png" alt="25px" width="25px">
                <img src="../../../assets/instagram.png" alt="25px" width="25px">
                <img src="../../../assets/youtube.png" alt="30px" width="30px">

            </div>

            <div class="col-4"> <br>
                <p>Veterinaria Rocco Antonio <br>Todos los derechos reservados </p>
            </div>
            <div class="col-4">
                <br>
                <img src="../../../assets/huella.png" alt="30px" width="30px">
                <img src="../../../assets/huella.png" alt="30px" width="30px">
                <img src="../../../assets/huella.png" alt="30px" width="30px">
                <img src="../../../assets/huella.png" alt="30px" width="30px">

            </div>
        </div>





    </div>
