<app-menu-cliente></app-menu-cliente>
<div class="container">
    <div class="row">

        <table class="table table-dark">
            <thead>
              <tr>
                <th scope="col">Id</th>
                <th scope="col">Nombre</th>
                <th scope="col">Fecha de nacimiento</th>
                <th scope="col">Id dueño</th>
                <th scope="col">Dueño</th>
        
              </tr>
            </thead>
            <tbody style="background-color: black;">
         
                <td>{{mascota.idMascota}}</td>
                <td>{{mascota.nombre}}</td>
                <td>{{mascota.fechaNacimiento}}</td>
                <td>{{mascota.usuario.idUsuario}}</td> 
                <td>{{mascota.usuario.nombres +" "+mascota.usuario.apellidos}}</td>
            </tbody>
          </table>
          <form action="">
              <label for="id">ID</label>
          <input type="number" name="id" id="id" value="{{mascota.idMascota}}">

          <label for="nombres">Nombre</label>
          <input type="text" name="nombres" id="nombres" value="{{mascota.nombre}}">

          <label for="apellidos">Fecha de nacimiento</label>
          <input type="text" value="{{mascota.fechaNacimiento}}">

          <label for="correo">ID dueño</label>
          <input type="text" value="{{mascota.usuario.idUsuario}}">

          <br>
          <label for="correo">Dueño</label>
          <input type="text" value="{{mascota.usuario.nombres+' '+mascota.usuario.apellidos}}">


        </form>



    </div>

</div>