<div>
<app-menu-cliente></app-menu-cliente>
<div class="container-fluid">
    <div class="row">
      <h3 style="text-align: center;">Informacion de la mascota</h3>
          <form style="margin-bottom: 5rem;">
              <label for="id">ID</label>
          <input type="number" name="id" id="id" value="{{mascota.idMascota}}" class="form-control" readonly>

          <label for="nombres">Nombre</label>
          <input type="text" name="nombres" id="nombres" value="{{mascota.nombre}}"class="form-control" readonly>

          <label for="apellidos">Fecha de nacimiento</label>
          <input type="text" value="{{mascota.fechaNacimiento}}"class="form-control" readonly>

          <label for="correo">ID dueño</label>
          <input type="text" value="{{mascota.usuario.idUsuario}}"class="form-control" readonly>

          <label for="correo">Dueño</label>
          <input type="text" value="{{mascota.usuario.nombres+' '+mascota.usuario.apellidos}}"class="form-control" readonly>


        </form>



    </div>

</div>
</div>