<div>
  <app-menu-cliente></app-menu-cliente>
  <div class="container-fluid">
    <div class="row">
      <h3 style="text-align: center;">Informacion cita</h3>
      <form style="margin-bottom: 5rem;" >
        <div class="row">
          <div class="col-6">
            <label for="id">ID</label>
            <input type="number" name="id" id="id" value="{{cita.idCita}}" class="form-control" readonly>
    
            <label for="nombres">Fecha</label>
            <input type="text" name="nombres" id="nombres" value="{{cita.fecha}}"class="form-control" readonly>
    
            <label for="apellidos">ID mascota</label>
            <input type="number" value="{{cita.mascota.idMascota}}"class="form-control" readonly>
    
            <label for="correo">Nombre mascota</label>
            <input type="text" value="{{cita.mascota.nombre}}"class="form-control" readonly>

            <label for="correo">Diagnostico</label>
            <input type="text" value="{{cita.diagnostico}}"class="form-control" readonly>
          </div>
          <div class="col-6">
            <label for="correo">ID dueño</label>
            <input type="number" value="{{cita.mascota.usuario.idUsuario}}"class="form-control" readonly>
    
            <label for="correo">Nombre dueño</label>
            <input type="text" value="{{cita.mascota.usuario.nombres+' '+ cita.mascota.usuario.apellidos}}"class="form-control" readonly>
    
            <label for="correo">ID Veterinario</label>
            <input type="number" value="{{cita.usuario.idUsuario}}"class="form-control" readonly>
            
            <label for="correo">Nombre Veterinario</label>
            <input type="text" value="{{cita.usuario.nombres+' '+cita.usuario.apellidos}}"class="form-control" readonly>
    
            <label for="correo">Tratamiento</label>
            <input type="text" value="{{cita.tratamiento}}"class="form-control" readonly>
    
          </div>

        </div>




      </form>



    </div>

  </div>
</div>