<div class="container-fluid">
    <div class="row">
        <div class="col-12"><img src="../../../assets/Banner.png" alt="">
        </div>

    </div>
    <div class="row">
        <div class="col-12">
            <menu>
                <ul>
                    <li> <a href="\homeVeterinario"> Inicio</a></li>
                    <li> <a routerLink="/veterinarioClientes">Clientes</a></li>
                    <li> <a routerLink="/veterinarioMascotas"> Mascotas</a></li>
                    <li> <a routerLink="/veterinarioCitas">citas</a></li>
                    <li> <a href="#" (click)="logout()"> Cerrar sesion</a></li>
    
                </ul>
            </menu>
        </div>

        <div class="col-1"></div>


    </div>
</div>