<app-menu-admin></app-menu-admin>
<div class="container">
    <div class="row">

        <table class="table table-dark">
            <thead>
              <tr>
                <th scope="col">Id</th>
                <th scope="col">Fecha </th>
                <th scope="col">ID Mascota</th>
                <th scope="col">Mascota</th>
                <th scope="col">Id dueño</th>
                <th scope="col">Dueño</th>
                <th scope="col">Id veterinario</th>
                <th scope="col">Veterinario</th>
        
              </tr>
            </thead>
            <tbody style="background-color: black;">
         
                <td>{{cita.idCita}}</td>
                <td>{{cita.fecha}}</td>
                <td>{{cita.mascota.idMascota}}</td>
                <td>{{cita.mascota.nombre}}</td> 
                <td>{{cita.mascota.usuario.idUsuario}}</td>
                <td>{{cita.mascota.usuario.nombres+" "+cita.mascota.usuario.apellidos}}</td>
                <td>{{cita.usuario.idUsuario}}</td>
                <td>{{cita.usuario.nombres+" "+cita.usuario.apellidos}}</td>

            </tbody>
          </table>
          <form action="">
              <label for="id">ID</label>
          <input type="number" name="id" id="id" value="{{cita.idCita}}">

          <label for="nombres">Fecha</label>
          <input type="text" name="nombres" id="nombres" value="{{cita.fecha}}">

          <label for="apellidos">ID mascota</label>
          <input type="number" value="{{cita.mascota.idMascota}}">

          <label for="correo">Nombre mascota</label>
          <input type="text" value="{{cita.mascota.nombre}}">

          <br>
          <label for="correo">ID dueño</label>
          <input type="number" value="{{cita.mascota.usuario.idUsuario}}">

          <label for="correo">Nombre dueño</label>
          <input type="text" value="{{cita.mascota.usuario.nombres+' '+ cita.mascota.usuario.apellidos}}">

          <label for="correo">ID Veterinario</label>
          <input type="number" value="{{cita.usuario.idUsuario}}">
            <br>
          <label for="correo">Nombre Veterinario</label>
          <input type="text" value="{{cita.usuario.nombres+' '+cita.usuario.apellidos}}">


        </form>
        <button type="button" class="btn btn-primary" (click)="eliminar()" >Eliminar cita</button>



    </div>  

</div>