<div>
    <app-menu></app-menu>
    <div class="container-fluid">
        <link href="//netdna.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css" rel="stylesheet"
            id="bootstrap-css">
        <script src="//netdna.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
        <script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
        <!------ Include the above in your HEAD tag ---------->
        <div class="row">
            <div class="col-12">
                <div class="carousel fade-carousel slide" data-ride="carousel" data-interval="4000" id="bs-carousel">
                    <!-- Overlay -->
                    <div class="overlay"></div>



                    <!-- Wrapper for slides -->
                    <div class="carousel-inner">
                        <div class="item slides active">
                            <div> <img src="../../../assets/Niña.jpg" alt=""></div>
                            <div class="hero">
                                <h1>Bienvenidos</h1>
                                <h3>Clinica Veterinaria Rocco Antonio</h3>
                                <button class="btn btn-hero btn-lg" role="button">Solicitar una cita</button>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-1"></div>
            <div class="col-5">
                <h2>Testimonios</h2>
                <img src="../../../assets/Testimonios.png" alt="">
            </div>
            <div class="col-5">
                <h2>Mision</h2>
                <img src="..//..//../assets/Mision.png" alt="">
            </div>
            <div class="col-1"></div>


        </div>
    </div>
</div>  