<div>
    <div class="row">
        <div class="col-1"></div>
        <div class="col-10"><img src="../../../assets/Banner.png" alt="">
        </div>

        <div class="col-1"></div>
    </div>
    <div class="row">
        <div class="col-1"></div>
        <div class="col-10">        <menu>
            <ul>
                <li> <a href="\homeCliente"> Inicio</a></li>
                <li> <a routerLink="/clienteMascota"> Mis mascotas</a></li>
                <li> <a routerLink="/citasCliente"> citas</a></li>
                <li> <a routerLink="/solicitarCitaCliente"> Solicitar cita</a></li>
                <li> <a routerLink="/login"> Cerrar sesion</a></li>

            </ul>
        </menu></div>

        <div class="col-1"></div>


    </div>
</div>

