<div id="login">

<app-menu></app-menu>
    <div id="formLogin">
        <form  class="login">
            <h2>Iniciar sesion</h2>
            <div>
                <label for="userName">Nombre de usuario</label>
                <input type="text" name="usuario" id="userName">
            </div>
            <div>
                <label for="password">Contraseña</label>
                <input type="password" name="password" id="password">
            </div>
            <div>
                <button a [outerHTML]=""></button>
                <a routerLink="/dashboard"> <input type="submit" id="botonInicio" value="Iniciar sesion" > </a>
            </div>
        </form>
    </div>
</div>