<div id="login">

<app-menu></app-menu>
    <div id="formLogin">
        <form [formGroup]="loginForm"  (ngSubmit)="onLogin()"  id="login" >
            <div class="row">
                <div class="col-md-12">
                    <input type="text" [(ngModel)]="correo"  class="form-control" placeholder="Correo" required formControlName="correo">
                </div>
            </div>
            <br>
            <div class="row">
                <div class="col-md-12">
                    <input type="password" [(ngModel)]="password"   placeholder="password" class="form-control" required formControlName="password">
                </div>
            </div>
    
            <br>
            <div class="row">
                <div class="col-md-12">
                    <input class="btn btn-succes float-right" type="submit" value="Ingresar">
                </div>
            </div>
        </form>
    </div>
</div>