<div>
<app-menu-veterinario></app-menu-veterinario>
<div class="container-fluid">
    <div class="row">

          <form >
            <div class="row">
              <div class="col-6">
                <label for="id">ID</label>
                <input type="number" name="id" id="id" value="{{usuario.idUsuario}}" class="form-control" readonly>
      
                <label for="nombres">Nombres</label>
                <input type="text" name="nombres" id="nombres" value="{{usuario.nombres}}" class="form-control" readonly>
      
                <label for="apellidos">Apellidos</label>
                <input type="text" value="{{usuario.apellidos}}" class="form-control" readonly>
      
                <label for="correo">Correo</label>
                <input type="text" value="{{usuario.correo}}" class="form-control" readonly>
              </div>
              <div class="col-6">
                

          <label for="correo">Identificacion</label>
          <input type="text" value="{{usuario.identificacion}}" class="form-control" readonly>

          <label for="correo">Telefono</label>
          <input type="text" value="{{usuario.telefono}}" class="form-control" readonly>

          <label for="correo">Direccion</label>
          <input type="text" value="{{usuario.direccion}}" class="form-control" readonly>

          <label for="correo">Rol</label>
          <input type="text" value="{{usuario.rol}}" class="form-control" readonly>
              </div>

            </div>

        </form>
        <table class="table table-bordered">
          <thead>
              <th>ID</th>
              <th>Nombre</th>
              <th>Fecha de nacimiento</th>
              <th></th>
          </thead>
          <tbody>
              <tr *ngFor="let user of mascotas">
                  <td>{{user.idMascota}}</td>
                  <td>{{user.nombre}}</td>
                  <td>{{user.fechaNacimiento}}</td>

              </tr>
          </tbody>

      </table>



    </div>

</div>
</div>