<app-menu-admin></app-menu-admin>
<div class="container">
  <div class="row">

    <table class="table table-dark">
      <thead>
        <tr>
          <th scope="col">Id</th>
          <th scope="col">Nombre</th>
          <th scope="col">Apellido</th>
          <th scope="col">Correo</th>
          <th scope="col">Rol</th>

        </tr>
      </thead>
      <tbody style="background-color: black;">

        <td>{{usuario.idUsuario}}</td>
        <td>{{usuario.nombres}}</td>
        <td>{{usuario.apellidos}}</td>
        <td>{{usuario.correo}}</td>
        <td>{{usuario.rol}}</td>
      </tbody>
    </table>

    <form (ngSubmit)="actualizarUsuario()" id="actualizar">
      <label for="id">ID</label>
      <input type="number" name="id" id="id" value="{{usuario.idUsuario}}" [(ngModel)]="usuario.idUsuario"
        [ngModelOptions]="{standalone: true}" readonly>

      <label for="nombres">Nombres</label>
      <input type="text" name="nombres" id="nombres" value="{{usuario.nombres}}" [(ngModel)]="usuario.nombres"
        [ngModelOptions]="{standalone: true}">

      <label for="apellidos">Apellidos</label>
      <input type="text" value="{{usuario.apellidos}}" [(ngModel)]="usuario.apellidos"
        [ngModelOptions]="{standalone: true}">

      <label for="correo">Correo</label>
      <input type="text" value="{{usuario.correo}}" [(ngModel)]="usuario.correo" [ngModelOptions]="{standalone: true}">

      <br>
      <label for="correo">Identificacion</label>
      <input type="text" value="{{usuario.identificacion}}" [(ngModel)]="usuario.identificacion"
        [ngModelOptions]="{standalone: true}">

      <label for="correo">Telefono</label>
      <input type="text" value="{{usuario.telefono}}" [(ngModel)]="usuario.telefono"
        [ngModelOptions]="{standalone: true}">

      <label for="correo">Direccion</label>
      <input type="text" value="{{usuario.direccion}}" [(ngModel)]="usuario.direccion"
        [ngModelOptions]="{standalone: true}">

      <label for="correo">Rol</label>
      <input type="text" value="{{usuario.rol}}" [(ngModel)]="usuario.rol" [ngModelOptions]="{standalone: true}">

      <div class="row">
        <div class="col-6">
          <button type="button" class="btn btn-primary" (click)="eliminar()">Eliminar usuario</button>
        </div>
        <div class="col-6">
          <input class="btn btn-succes float-right" style="background-color: aqua;" type="submit" value="Actualizar">

        </div>
      </div>
    </form>
    <table class="table table-bordered">
      <thead>
        <th>ID</th>
        <th>Nombre</th>
        <th>Fecha de nacimiento</th>
        <th></th>
      </thead>
      <tbody>
        <tr *ngFor="let user of mascotas">
          <td>{{user.idMascota}}</td>
          <td>{{user.nombre}}</td>
          <td>{{user.fechaNacimiento}}</td>

        </tr>
      </tbody>

    </table>



  </div>

</div>