<app-menu-admin></app-menu-admin>
<div class="container">
    <div class="row">
<h2 style="text-align: center;">Informacion personal</h2>
<form action="">
    <label for="">ID</label>
    <input type="text" name="id" id="id" value="{{usuario.idUsuario}}">

    <label for="">ID</label>
    <input type="text" name="id" id="id" value="{{usuario.nombres}}">

    <label for="">ID</label>
    <input type="text" name="id" id="id" value="{{usuario.apellidos}}">

    <label for="">ID</label>
    <input type="text" name="id" id="id" value="{{usuario.correo}}">

    <label for="">ID</label>
    <input type="text" name="id" id="id" value="{{usuario.password}}">

    <label for="">ID</label>
    <input type="text" name="id" id="id" value="{{usuario.identificacion}}">

    <label for="">ID</label>
    <input type="text" name="id" id="id" value="{{usuario.telefono}}">

    <label for="">ID</label>
    <input type="text" name="id" id="id" value="{{usuario.direccion}}">

    <label for="">ID</label>
    <input type="text" name="id" id="id" value="{{usuario.fechaNacimiento}}">

    
    <label for="">ID</label>
    <input type="text" name="id" id="id" value="{{usuario.rol}}">
</form>

        

    </div>

</div>
