<p>home-admin works!</p>
<div>
    <app-menu></app-menu>
    <div class="container">
        <div class="row">
            <div class="col-3 ">
                <div class= "d-flex">
                    <div  class= "bg-primary">


                            <div class="menu mb-5 list-group ">
                                
                                <a href="\dashboard" class="list-group-item list-group-item-action enlaces">Inicio</a>
                                <a href="\BuscarCursosAdministrador" class="list-group-item list-group-item-action enlaces">Ver usuarios</a>
                                <a href="\BuscarUsuarioAdministrador" class="list-group-item list-group-item-action enlaces">Buscar usuario</a>
                                <a href="\BuscarAsignaturaAdministrador" class="list-group-item list-group-item-action enlaces">Crear usuario</a>
                                <a href="\BuscarAsignaturaAdministrador" class="list-group-item list-group-item-action enlaces">Ver información personal</a>


                                
                            </div>

                        <button type="button" onclick="window.location.href='/'" class="btn btn-warning mb-5 color_fondo ">Cerrar sesion</button>
              </div>
              </div>

            </div>

            <div class="col-3" style="background-color: red;">Holaaaaaaaa</div>
            <div class="col-3">Hola</div>
        </div>



    </div>

</div>