<div>
    <app-menu></app-menu>
    <div id="centroService" class="container">
        <div class="row">
            <div class="col-12" style="background-color: aqua;">Nuestros servicios</div>
        </div>
        <div class="row"> 
            <div class="col-3">Consulta general</div>
            <div class="col-3">Odontologia</div>
            <div class="col-3">Cirugias</div>
            <div class="col-3">Hospitalizacion</div>
        </div>
        <div class="row"> 
            <div class="col-3">Ortopedia</div>
            <div class="col-3">Vacunación</div>
            <div class="col-3">Laboratorio clinico</div>
            <div class="col-3">Belleza y peluqueria</div>
        </div>
    </div>

</div>
