<div>
    <app-menu></app-menu>
    <div class="container-fluid">
        <link href="//netdna.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css" rel="stylesheet"
            id="bootstrap-css">
        <script src="//netdna.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
        <script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
        <!------ Include the above in your HEAD tag ---------->
        <div class="row">
            <div class="col-12">
                <div class="carousel fade-carousel slide" data-ride="carousel" data-interval="4000" id="bs-carousel">
                    <!-- Overlay -->
                    <div class="overlay"></div>

                    <!-- Wrapper for slides -->
                    <div class="carousel-inner">
                        <div class="item slides active">
                            <div> <img src="../../../assets/Gigi.jpeg" alt=""></div>
                            <div class="hero">
                                <h1>Servicios</h1>
                                <h3>Clinica Veterinaria Rocco Antonio</h3>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-12" style="text-align: center;"><h2>Servicios medicos</h2></div>
        </div>
        <div class="row">
            <div class="col-12">
                <div class="card-group">
                    <div class="card">
                      <img class="card-img-top" src="../../../assets/consulta.png" alt="Card image cap">
                      <div class="card-body">
                        <h5 class="card-title" style="text-align: center;">Consulta veterinaria</h5>
                        <p class="card-text">Ofrecemos atencion personalizada a tus mascotas</p>


                      </div>
                    </div>
                    <div class="card">
                      <img class="card-img-top" src="../../../assets/odontologia.jpg" alt="Card image cap">
                      <div class="card-body">
                        <h5 class="card-title">Odontologia</h5>
                        <p class="card-text">Tenemos los mejores especialistas en odontologia animal</p>
                      </div>
                    </div>
                    <div class="card">
                      <img class="card-img-top" src="../../../assets/cirugia.jpg" alt="Card image cap">
                      <div class="card-body">
                        <h5 class="card-title">Cirugia</h5>
                        <p class="card-text">Somos la unica Clinica veterinaria en la zona metropolitana con permisos para cirugias veterinarias de alta complejidad</p>
                      </div>
                    </div>
                  </div>
            </div>



        </div>
        <div class="row">
            <div class="col-12" style="text-align: center;"><h2>Belleza y estetica</h2></div>
        </div>
        <div class="row">
            <div class="col-12">
                <div class="card-group">
                    <div class="card">
                      <img class="card-img-top" src="../../../assets/baños.jpg" alt="Card image cap">
                      <div class="card-body">
                        <h5 class="card-title">Baño y corte</h5>
                        <p class="card-text">Nuestros especialistas en belleza le daran el mejor trato a tu mascota </p>
                      </div>
                    </div>
                    <div class="card">
                      <img class="card-img-top" src="../../../assets/manicure.jpg" alt="Card image cap">
                      <div class="card-body">
                        <h5 class="card-title">Pedicure y manicure</h5>
                        <p class="card-text">Ofrecemos este servicio unico en el area metropolitana</p>
                      </div>
                    </div>
                    <div class="card">
                      <img class="card-img-top" src="../../../assets/masajes.jpg" alt="Card image cap">
                      <div class="card-body">
                        <h5 class="card-title">Masajes</h5>
                        <p class="card-text">Este servicio ayuda a relajar a tu mascota</p>
                      </div>
                    </div>
                  </div>
            </div>



        </div>
    </div>
</div>  