<div>
<app-menu-admin></app-menu-admin>
<div class="container-fluid">
    <div class="row">



          <form (ngSubmit)="actualizarMascota()" id="actualizar" style="margin-bottom: 5rem;">
              <label for="id">ID</label>
          <input type="number" name="id" id="id" value="{{mascota.idMascota}}" [(ngModel)]="mascota.idMascota"
          [ngModelOptions]="{standalone: true}" readonly class="form-control">

          <label for="nombres">Nombre</label>
          <input type="text" name="nombres" id="nombres" value="{{mascota.nombre}}" [(ngModel)]="mascota.nombre"
          [ngModelOptions]="{standalone: true}"class="form-control">

          <label for="apellidos">Fecha de nacimiento</label>
          <input type="text" value="{{mascota.fechaNacimiento}}"[(ngModel)]="mascota.fechaNacimiento"
          [ngModelOptions]="{standalone: true}"class="form-control"class="form-control">

          <label for="correo">ID dueño</label>
          <input type="text" value="{{mascota.usuario.idUsuario}}"[(ngModel)]="mascota.usuario.idUsuario"
          [ngModelOptions]="{standalone: true}" readonly class="form-control" >

          <br>
          <label for="correo">Dueño</label>
          <input type="text" value="{{mascota.usuario.nombres+' '+mascota.usuario.apellidos}}" [(ngModel)]="mascota.usuario.nombres"
          [ngModelOptions]="{standalone: true}" readonly class="form-control">

          <div class="row">
            <div class="col-6">
              <button type="button" class="btn btn-primary" style="background-color: #008080;"  (click)="eliminar()">Eliminar Mascota</button>
            </div>
            <div class="col-6">
              <input class="btn btn-succes float-right" style="background-color: #008080;" type="submit" value="Actualizar">
    
            </div>
          </div>
        </form>



    </div>

</div>
</div>