<div>
    <div class="row">
        <div class="col-1"></div>
        <div class="col-10"><img src="../../../assets/Banner.png" alt="">
        </div>

        <div class="col-1"></div>
    </div>
    <div class="row">
        <div class="col-1"></div>
        <div class="col-10">        <menu>
            <ul>
                <li> <a href=""> Inicio</a></li>
                <li> <a routerLink="/services"> Servicios</a></li>
                <li> <a routerLink="/doctors"> Medicos</a></li>
                <li> <a routerLink="/contact"> Contacto</a></li>
                <li> <a routerLink="/galery"> Galeria</a></li>
                <li> <a routerLink="/home-admin"> Iniciar sesion</a></li>

            </ul>
        </menu></div>

        <div class="col-1"></div>


    </div>
</div>