<div>
  <app-menu-veterinario></app-menu-veterinario>
  <div class="container-fluid">
    <div class="row">
      <div class="col-12">
        <table class="table table-bordered" style="margin-bottom: 15rem;">
          <thead>
            <tr>
              <th scope="col">Id</th>
              <th scope="col">Nombre</th>
              <th scope="col">Apellido</th>
              <th scope="col">Correo</th>
              <th scope="col">Rol</th>
              <th></th>

            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let user of usuarios">
              <td *ngIf="user.rol=='cliente'">{{user.idUsuario}}</td>
              <td *ngIf="user.rol=='cliente'">{{user.nombres}}</td>
              <td *ngIf="user.rol=='cliente'">{{user.apellidos}}</td>
              <td *ngIf="user.rol=='cliente'">{{user.correo}}</td>
              <td *ngIf="user.rol=='cliente'">{{user.rol}}</td>
              <td *ngIf="user.rol=='cliente'"> <button type="button" class="btn btn-primary" style="background-color: #008080;"
                  (click)="verCliente(user)">Ver cliente</button>


            </tr>


          </tbody>
        </table>
      </div>



    </div>

  </div>
</div>